// Your variable overrides
$body-bg: #212529;
$body-color: #111;

// typography


$scale: 1.618;



// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: null;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * $scale;
;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 2.5 * $scale;
$h2-font-size: $font-size-base * 2 * $scale;
$h3-font-size: $font-size-base * 1.75 * $scale;
$h4-font-size: $font-size-base * 1.5 * $scale;
$h5-font-size: $font-size-base * 1.25 * $scale;
;
$h6-font-size: $font-size-base;


// Bootstrap and its default variables
@import "scss/bootstrap";

body {
    font-size: 16.18px;

}

/* latin */
@font-face {
    font-family: 'Handlee';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/handlee/v9/-F6xfjBsISg9aMakPm3wowtKzig.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
}

body {
    font-family: 'Lato', sans-serif
}

h1,
h2,
h3,
h4,
h5,
a.navbar-brand {
    font-family: 'Handlee', cursive;
}

.txt-lg {
    font-size: 20px;
}

.img-thumbnail {
    background-color: white;
    border-color: white;
}

.navbar-dark .navbar-brand {
    color: #8FADE6;
}

.cntr {
    margin: auto
}

.sch input {
    width: 260px;
}

.sch .btn {
    position: relative;
    left: -5px;
    background: gray;
    border: 0;
}


.sch .btn:focus,
.sch .btn:active {
    outline: none !important;
    box-shadow: none;
    background: green;
}