
<div class="jumbotron">
  <div class="p-5 bg-dark md-4 p-md-5 text-white rounded-3">
        <div class="container-fluid py-5">
              
              <picture class="img-fluid">
 <source media="(max-width: 576px)" srcset="https://relaxivity.app/images/400/relaxivity-videoart.webp>
  <source media="(min-width: 577px)" srcset="https://relaxivity.app/images/800/relaxivity-coverart.webp">
  <source media="(max-width: 576px)" srcset="https://relaxivity.app/images/400/relaxivity-videoart.jpg">
  <source media="(min-width: 577px)" srcset="https://relaxivity.app/images/800/relaxivity-coverart.jpg">
  <img class="img-fluid" src="https://relaxivity.app/images/560/videoart.jpg" alt="videoart.alt">
</picture>
        </div>
    </div>
    </div>