
<div class="jumbotron mt-4 px-0 ">
  <div class="pt-2">
        <div class="container p-0">
              
              <picture class="">
 <source media="(max-width: 576px)" srcset="https://relaxivity.app/images/600/relaxivity-videoart.webp">
  <source media="(min-width: 577px)" srcset="https://relaxivity.app/images/1000/relaxivity-videoart.webp">
  <source media="(max-width: 576px)" srcset="https://relaxivity.app/images/600/relaxivity-videoart.jpg">
  <source media="(min-width: 577px)" srcset="https://relaxivity.app/images/1000/relaxivity-videoart.jpg">
  <img class="img-fluid" src="https://relaxivity.app/images/600/videoart.jpg" alt="videoart.alt">
</picture>
        </div>
    </div>
    </div>