---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---
<div class="container p-4 bg-white">
    <h1>Tagged “{{ tag }}”</h1>
    
      {% set taglist = collections[ tag ] %}
      {% for row in taglist  | batch(3) %}
      <div class="row">
   {% include 'components/cards/cardTag.njk' %}
          </div>
     {%- endfor -%}
  
</div>
