<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:cc="http://web.resource.org/cc/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:media="http://search.yahoo.com/mrss/" xmlns:content="http://purl.org/rss/1.0/modules/content/"  xmlns:podcast="https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md"  xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
	<channel>
		<atom:link href="https://blogrelations.libsyn.com/rss" rel="self" type="application/rss+xml"/>
		<title>Storynory - Audio Stories For Kids</title>
		<pubDate>Tue, 07 Sep 2021 16:22:57 +0000</pubDate>
		<lastBuildDate>Tue, 07 Sep 2021 16:30:48 +0000</lastBuildDate>
		<generator>Libsyn WebEngine 2.0</generator>
		<link>https://www.storynory.com</link>
		<language>en-gb</language>
		<copyright><![CDATA[Storynory Ltd]]></copyright>
		<docs>https://www.storynory.com</docs>
		<managingEditor>bertie@storynory.com (bertie@storynory.com)</managingEditor>
		<itunes:summary><![CDATA[Storynory brings you audio stories for the family, beautifully read, and with a touch of sophistication.  We find traditional stories from all over the world and create our own characters including Katie the Witch, and Astropup the space travelling hound.  We also give you songs,  educational interviews, and a sprinkling of ancient history.]]></itunes:summary>
		<image>
			<url>https://ssl-static.libsyn.com/p/assets/4/d/2/b/4d2b240c5932e650d959afa2a1bf1c87/Storynory-Cover-Art.jpg</url>
			<title>Storynory - Audio Stories For Kids</title>
			<link><![CDATA[https://www.storynory.com]]></link>
		</image>
		<itunes:author>Storynory</itunes:author>
		<itunes:keywords>education ,kids,stories</itunes:keywords>
		<itunes:category text="Kids &amp; Family"/>
		<itunes:category text="Kids &amp; Family">
			<itunes:category text="Stories for Kids"/>
		</itunes:category>
		<itunes:category text="Arts">
			<itunes:category text="Books"/>
		</itunes:category>
		<itunes:image href="https://ssl-static.libsyn.com/p/assets/4/d/2/b/4d2b240c5932e650d959afa2a1bf1c87/Storynory-Cover-Art.jpg" />
		<itunes:explicit>no</itunes:explicit>
		<itunes:owner>
			<itunes:name><![CDATA[Storynory Ltd]]></itunes:name>
			<itunes:email>bertie@storynory.com</itunes:email>
		</itunes:owner>
		<description><![CDATA[Storynory brings you audio stories for the family, beautifully read, and with a touch of sophistication.  We find traditional stories from all over the world and create our own characters including Katie the Witch, and Astropup the space travelling hound.  We also give you songs,  educational interviews, and a sprinkling of ancient history.]]></description>
		<itunes:subtitle><![CDATA[Audio Stories For Kids]]></itunes:subtitle>
		<itunes:type>episodic</itunes:type>
	       {% for post in collections.podcast %}

			<item>
           		 <title>{{post.data.title}}</title>
					<pubDate>{{post.data.date | rssdate }}</pubDate>
					<guid isPermaLink="false">{{ post.data.permalink}}</guid>
					<link><![CDATA[{{ url }}{{ post.filePathStem}}]]></link>
					<itunes:image href="{{post.data.coverart}}" />
					<description><![CDATA[ {{ post.data.excerpt }} ]]></description>
					<enclosure length="0" type="audio/mpeg" url="{{ post.data.mp3 }}" />
					<itunes:explicit>no</itunes:explicit>
					<itunes:keywords />
					<itunes:subtitle><![CDATA[ {{ post.data.excerpt }} ]]></itunes:subtitle>

			</item>

            {%  endfor %}

	
	</channel>	
  </rss>