        {% for post in row %} 
            <div class="col-sm">
              <div class="card my-4" >
             <a class="text-decoration-none" href="{{ post.filePathStem}}">
                <img class="card-img-top img-thumbnail" src="https://relaxivity.app/images/600/{{post.data.videoart.src }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a class="text-decoration-none" href="{{ post.filePathStem}}">{{post.data.title}}</a></h5>
                    <p class="card-text">{{post.data.excerpt}}</p> 
                    <p><a href="{{ post.filePathStem}}" class="card-link">Read More</a></p>
                </div>
              </div>  
            </div>    
        {%- endfor -%}