---
permalink: posts/podfeed.rss
layout: layouts/feed.njk
eleventyExcludeFromCollections: true
title: Relaxivity
link: https//www.relaxivity.app/feed.xml
url:  https://www.relaxivity.app
generator: relaxivity.app
copyright: 2021 Storynory ltd 
managingEditor: bertie@storynory.com (bertie@storynory.com)
summary: Give yourself a little time to relax!
subtitle: Relax with Stories
coverart: https://www.relaxivity.app/images/coverart.jpg
author: Storynory
cat1: Fiction
subcat1: Drama
cat2: Religion & Spirituality
subcat2: Spirituality
cat3: Health & Fitness
subcat3: Mental Health
email: bertie@storynory.com
explicit: no
---