  <nav class="navbar navbar-expand-md navbar-dark mb-2 py-1 fixed-top bg-dark">
  <div class="container-fluid">
    <a  class="navbar-brand " href="/">Relaxivity</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about/">About</a>
        </li>

      </ul>
<style>
.sch input {
  width: 260px;
}
.sch .btn {
  position: relative;
  left: -5px;
  background: gray;
  border: 0;
}


.sch .btn:focus, .sch .btn:active {
   outline: none !important;
   box-shadow: none;
   background: green;
}
</style>

      <form action="/pages/search/" method="get" class="d-flex sch">
        <input class="form-control-sm me-2" type="search" name="search" placeholder="Search" aria-label="Search" />
        <button class="btn" id="sch"  type="submit"><svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></button>
      </form>
    </div>
  </div>
</nav>

