---
title: Relaxivity Podcast for relaxing stories


---
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="descripton" content="relaxing stories and verse with text and audio"/>
<link rel="manifest" href="/manifest.json"/>
<link rel="alternate" type="application/rss+xml" title="Relaxivity Podcast Feed" href="https://relaxivity.app/posts/podfeed.rss" />
<meta name="theme-color" content="#8FADE7"/>
<meta name="background-color" content="#0D1B3F"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="msapplication-starturl" content="/"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" href="/icons/maskable_icon_x192.png">
<link rel="preconnect"  as="font" href="https://fonts.googleapis.com">
<link rel="preconnect"  as="font" href="https://fonts.gstatic.com" crossorigin>
  <style>
 {% include 'styles/app2.css' %} 
</style>
<title>{{ title }}</title>
<script>
 {% include 'js/toggle.js' %}
</script>
</head>
  <body>
  <div class="container p-md-5">
 {% include 'components/navbars/navbar.njk' %}
 </div>
 <main class="container-xl">
 {{ content | safe }}
</main>

<!-- Footer-->
<!-- Bootstrap core JS  -->

<!-- Core theme JS-->
<!-- Core theme JS-->
  {%- if js %}
   {% include 'js/fuse.js' %} 
  {%- endif %}


    </body>
</html>
