---
title: Relaxivity Podcast with relaxing stories
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#8FADE7"/>
<meta name="background-color" content="#0D1B3F"/>
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" href="/icons/maskable_icon_x192.png">
<link rel="preconnect"  as="font" href="https://fonts.googleapis.com">
<link rel="preconnect"  as="font" href="https://fonts.gstatic.com" crossorigin>
  <style>
 {% include 'styles/app2.css' %} 
</style>
<title>{{ title }}</title>
</head>
  <body>
  <div class="container p-md-5">
 {% include 'components/navbars/navbar.njk' %}
 </div>
 <main class="container-xl">
 {{ content | safe }}
</main>

<!-- Footer-->
<!-- Bootstrap core JS  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<!-- Core theme JS-->
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>


    </body>
</html>
