---
layout: layouts/base.njk
---
<div class="container">
{% include 'components/jumbotrons/jum.njk' %}
    {%- for row in collections.metamorphosis | batch(3) -%}
     <div class="row">
{% include 'components/cards/card.njk' %}
    </div>
    {%- endfor -%}
     
</div>