---
layout: layouts/base.njk
---


<div class="container">
{% include 'components/jumbotrons/jum.njk' %}
    {%- for row in collections.metamorphosis | batch(3) -%}
     <div class="row">
        {% for post in row %} 
            <div class="col-sm">
              <div class="card my-4" >
                <img class="card-img-top img-thumbnail" src="https://relaxivity.app/images/600/{{post.data.videoart.src | webp}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{post.data.title}}</h5>
                    <p class="card-text">{{post.data.excerpt}}</p> 
                    <p><a href="{{ post.filePathStem}}" class="card-link">Read More</a></p>
                </div>
              </div>  
            </div>    
        {%- endfor -%}
    </div>
    {%- endfor -%}
     
</div>