---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

   <style>

   h1, h2, h3, h4, h5, h6 {
    font-family:  Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

</style>


   <title>{{ title }}</title>
  </head>
  <body>
  <div class="container p-md-5">
 {% include 'components/navbars/navbar.njk' %}
 </div>

<main class="container">

<h2>Posts</h2>
{% include 'components/jumbotrons/jum.njk' %}



  <div class="bg-light py-5 rounded">



 
 {%- set i = 0 %}
{%- for post in collections.metamorphosis -%}
 {% set i = i + 1 %}

 {%- if  ( i%2 != 0) %}
 <div class="row mb-2">
    <div class="col-md-6">
        {% card post.data.title, post.data.text, post.data.page.url %}
    </div>
 
  {%- elif  ( i%2 == 0) or ( i -1 == collections.metamorphosis.length) %}
    <div class="col-md-6">
        {% card post.data.title, post.data.text,  post.data.page.url  %}
    </div>   
</div> 

       {%- else %}
       
    {%- endif %}  

  
{%- endfor -%}



</main>

        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                    feets don't fail me now
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2021</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
