---
layout: layouts/base.njk
---
<main role="main" class="container bg-light">
    <div class="row">
        <div class="col-md-12 blog-main">
        <h3 class="pb-3 mb-4 font-italic border-bottom text-capitalize">
            {{series}}
        </h3>
     <p class="text-capitalize">   
{% set comma = joiner() %}
    {% for tag in tags -%}
        {% if tag !== 'posts' %}
         {{ comma() }} <a href="/tags/{{ tag }}">{{ tag }}</a>
      {% endif %}
    {%- endfor %}
</p>


        <div class="blog-post">
            <h2 class="blog-post-title">{{title}}</h2>
   {%- if audio %}
   {% include 'components/player.njk' %}
  {%- endif %}         

      
{%-if coverart.src and videoart.src %}
<picture class="img-fluid">
 <source media="(max-width: 576px)" srcset="https://relaxivity.app/images/400/{{coverart.src | webp}}">
  <source media="(min-width: 577px)" srcset="https://relaxivity.app/images/600/{{videoart.src | webp}}">
  <source media="(max-width: 576px)" srcset="https://relaxivity.app/images/400/{{coverart.src}}">
  <source media="(min-width: 577px)" srcset="https://relaxivity.app/images/600/{{videoart.src}}">
  <img class="img-fluid" src="https://relaxivity.app/images/560/{{videoart.src}}" alt="videoart.alt">
</picture>
  {%- endif %}  

<div class="txt-lg">

  {{ content | safe }}
        </div> 
    </div><!-- /.row -->
</div>
</main>

          
        </div>


  </main>